/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap');



/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Global styles */


/*adding space*/
.section {
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    
    /* scroll-margin-top:; */

padding-top: 5rem;}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato' sans-serif;
   /* push header down under fixed navbar */
   padding-top: 57px;
}
    
    h1,
    h2,
    h3 {
        text-transform: uppercase;
     }

    
/* Navbar */

#navbar {
    background-color: rgb(142, 206, 236)
}
/*-- adjusted logo size to fit navbar -->*/

#navbar .logo {
    width: 35px;
}
 
/* Header */
header {
    background-color: #ffffff;
    padding: 0 2rem;
   
    z-index: 99;
    width: 100%;
   /* box-shadow: 0 2px 2px #3a3a3a;  */
}

header a {
    text-decoration: none;
    color: inherit;}


/* images to fit properly */
img {object-fit: cover;}

/* Main content */
main {
    
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}



/* .container, */
.row {
    border: 2px solid black;
     
}

.col-12 {
    border: 2px solid white;
    background-color: white;
}

